.view-more-button {
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-button {
    margin: 10px;
}

.page-title {
    padding-bottom: 60px;
    text-align: center;
}

.card+.card {
    margin-top: 20px
}


/*footer {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 100px;*/
/*    width: 100%;*/
/*}*/

