.view-more-button {
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-button {
    margin: 10px;
}

.page-title {
    padding-bottom: 60px;
    text-align: center;
}

.card+.card {
    margin-top: 20px
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.card {
    background-color: #48c774;
}

.card p > a {
    color: white;
}

.card p > a:hover {
    color: black;
}

.card-content .content > a {
    color: white;
}

.card-content .content > a:hover {
    color: black;
}

/*footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    height: 100px;*/
/*    width: 100%;*/
/*}*/

